
<p-toolbar>
  <div class="p-toolbar-group-start">
    <h1 class="mr-3">Gerenciador de Tarefas</h1>
      <button pButton icon="pi pi-plus" class="mr-2" [rounded]="true" (click)="show()" size="small"></button>

  </div>

</p-toolbar>
<div class="surface-ground p-2">
  <div class="grid mt-2">
      <div class="col-12">
        <div class="grid">
          <div class="col-12 md:col-6 lg:col m-1 p-3 border-1 border-dashed border-300 border-round" pDroppable (onDrop)="changeStatusByDrop($event, statusList[0])">

            <p class="mt-1 text-center text-400 text-sm">Pendente</p>

            <app-task-card pDraggable *ngFor="let task of statusFilter(taskListArray, 'pending'); let i = index" [task]="task" [index]="i" (click)="openEditMode(task, i)" [attr.data-index]="i" (onDragStart)="dragStart(task)"></app-task-card >
  
        </div>
        <div class="col-12 md:col-6 lg:col m-1 p-3 border-1 border-dashed border-300 border-round" pDroppable (onDrop)="changeStatusByDrop($event, statusList[1])">
          <p class="mt-1 text-center text-400 text-sm">Em progresso</p>

          <app-task-card pDraggable *ngFor="let task of statusFilter(taskListArray, 'progress'); let i = index" [task]="task" [index]="i" (click)="openEditMode(task, i)" [attr.data-index]="i" (onDragStart)="dragStart(task)"></app-task-card >
            
        </div>
        <div class="col-12 md:col-6 lg:col m-1 p-3 border-1 border-dashed border-300 border-round" pDroppable (onDrop)="changeStatusByDrop($event, statusList[2])">
          <p class="mt-1 text-center text-400 text-sm">Finalizado</p>

          <app-task-card pDraggable *ngFor="let task of statusFilter(taskListArray, 'finish'); let i = index" [task]="task" [index]="i" (click)="openEditMode(task, i)" [attr.data-index]="i" (onDragStart)="dragStart(task)"></app-task-card >
        </div>
      </div>
      
  </div>
</div>

<p-toast position="top-center" key="tc"></p-toast>